body{
  background-color: rgb(211, 174, 193);
}
.article-travel{

    background-color:rgb(245, 220, 233);
    text-align: center;
  }
  
  .title-travel{
    font-size: 30px;
    text-decoration: underline;
    font-size: xx-large ;
    font-family: fantasy ;

  }

  .img-travel{
    width: 500px;
    border: 10px solid rgb(18, 3, 46);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(38, 20, 28, 0.961);
   
  }
  

  .text-travel {
    color: rgb(26, 6, 6);
    font-size: xx-large ;
  }

  .btn {
    background-color: rgb(184, 128, 146);
    color:white;
    border-radius: 50px;
    padding:  20px 50px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid  rgb(184, 128, 146);
    text-align: center;
   text-align: center;
  }  

.btn:hover {
    background-color:white;
    color:  rgb(184, 128, 146);
}
